@import url(./reset.css);

/* banner */
aside{
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

.banner-title{
    margin:0;
    color:#000;
    background-color: #FFC82C;
}
.banner-title a{
    display:flex;
    justify-content:center;
    align-items:center;
    height:2.8em;
    font-size:1.6rem;
}
.airplan{
    width:20px;
    height:20px;
    animation: bounce 3s infinite;
}

.main-bg{
    background-image:url(../assets/image/sun1.jpg);
    width:100%;
    height:100vh;
    background-position:58% center;
    background-size:cover;
}

@keyframes bounce {
    0%,100%{
        transform:translate(0px, -5px) rotate(15deg);
    }
    50%{
        transform:translate(0px, 5px) rotate(20deg);
    }
}

@media screen and (max-width:768px){
    
    
}